{% extends "base.html.twig" %}

{% block content %}

    <h1>Ajout d'un article</h1>

    <form method="post" action="/article/add">
        <div class="form-group">
            <label for="text">Texte</label>
            <textarea class="form-control" rows="3" id="text" name="article[text]"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}