{% extends "base.html.twig" %}

{% block content %}

    <h1>Édition d'un article</h1>

    <form method="post" action="/article/update">
        <input type="hidden" name="article[id]" value="{{ article.id }}">
        <div class="form-group">
            <label for="text">Texte</label>
            <textarea class="form-control" rows="3" id="text" name="article[text]">{{ article.text }}</textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}